In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import sys
sys.path.append('../')
from src.db_class import FinanceDB

## From a fresh start, initialize DB:

In [4]:
stocksDB = FinanceDB("test_finance.db")

## Add some tickers to populate DB

In [46]:
stocksDB.add_default_tickers()

MSFT data downloaded and populated in tables.
AAPL data downloaded and populated in tables.
HUT data downloaded and populated in tables.
HUT.TO data downloaded and populated in tables.
SPY data downloaded and populated in tables.
CADUSD=X data downloaded and populated in tables.
BTC-USD data downloaded and populated in tables.
ETH-USD data downloaded and populated in tables.
ETHX-U.TO data downloaded and populated in tables.
finished.

## What does a table look like?

In [5]:
print(stocksDB.get_table("security"))
print(stocksDB.get_table("exchange"))
print(stocksDB.get_present_tickers())
print(stocksDB.get_daily_per_ticker("AAPL").head())
print(stocksDB.get_minutely_per_ticker("AAPL").head())

      ticker                  name_short               name_long exchange  \
0       MSFT       Microsoft Corporation   Microsoft Corporation      NMS
1       AAPL                  Apple Inc.              Apple Inc.      NMS
2        HUT          Hut 8 Mining Corp.      Hut 8 Mining Corp.      NMS
3     HUT.TO           HUT 8 MINING CORP      Hut 8 Mining Corp.      TOR
4        SPY                SPDR S&P 500  SPDR S&P 500 ETF Trust      PCX
5   CADUSD=X                     CAD/USD                    None      CCY
6    BTC-USD                 Bitcoin USD                    None      CCC
7    ETH-USD                Ethereum USD                    None      CCC
8  ETHX-U.TO  CI GALAXY ETHEREUM ETF USD  CI Galaxy Ethereum ETF      TOR

  currency            type              sector                 industry  \
0      USD          EQUITY          Technology  Software—Infrastructure
1      USD          EQUITY          Technology     Consumer Electronics
2      USD          EQUITY  Financial Services          Capital Markets
3      CAD          EQUITY  Financial Services          Capital Markets
4      USD             ETF                None                     None
5      USD        CURRENCY                None                     None
6      USD  CRYPTOCURRENCY                None                     None
7      USD  CRYPTOCURRENCY                None                     None
8      USD             ETF                None                     None

       market     hq_country  employees                    website
0   us_market  United States   181000.0  https://www.microsoft.com
1   us_market  United States   154000.0      https://www.apple.com
2   us_market         Canada       30.0     https://hut8mining.com
3   ca_market         Canada       30.0     https://hut8mining.com
4   us_market           None        NaN                       None
5  ccy_market           None        NaN                       None
6  ccc_market           None        NaN                       None
7  ccc_market           None        NaN                       None
8   ca_market           None        NaN                       None
  exchange_name exchange_timezone exchange_timezone_short
0           NMS  America/New_York                     EST
1           TOR   America/Toronto                     EST
2           PCX  America/New_York                     EST
3           CCY     Europe/London                     GMT
4           CCC               UTC                     UTC
['AAPL', 'BTC-USD', 'CADUSD=X', 'ETH-USD', 'ETHX-U.TO', 'HUT', 'HUT.TO', 'MSFT', 'SPY']
                  date      open      high       low     close  \
0  1980-12-12 00:00:00  0.128348  0.128906  0.128348  0.128348
1  1980-12-15 00:00:00  0.122210  0.122210  0.121652  0.121652
2  1980-12-16 00:00:00  0.113281  0.113281  0.112723  0.112723
3  1980-12-17 00:00:00  0.115513  0.116071  0.115513  0.115513
4  1980-12-18 00:00:00  0.118862  0.119420  0.118862  0.118862

   adjusted_close     volume security_ticker
0        0.100453  469033600            AAPL
1        0.095213  175884800            AAPL
2        0.088224  105728000            AAPL
3        0.090408   86441600            AAPL
4        0.093029   73449600            AAPL
                  date        open        high         low       close  \
0  2021-11-22 09:30:00  161.679993  162.500000  161.630005  162.449997
1  2021-11-22 09:31:00  162.429993  162.710007  162.070007  162.550003
2  2021-11-22 09:32:00  162.570007  163.029999  162.500000  162.939804
3  2021-11-22 09:33:00  163.000000  163.020004  162.809998  162.820007
4  2021-11-22 09:34:00  162.500000  162.774902  162.277496  162.760101

   adjusted_close   volume security_ticker
0      162.449997  7202415            AAPL
1      162.550003   817807            AAPL
2      162.939804   789964            AAPL
3      162.820007   636201            AAPL
4      162.760101   770091            AAPL

In [7]:
stocksDB.get_daily_per_ticker('AAPL')

,date,open,high,low,close,adjusted_close,volume,security_ticker
0,1980-12-12 00:00:00,0.128348,0.128906,0.128348,0.128348,0.100453,469033600,AAPL
1,1980-12-15 00:00:00,0.122210,0.122210,0.121652,0.121652,0.095213,175884800,AAPL
2,1980-12-16 00:00:00,0.113281,0.113281,0.112723,0.112723,0.088224,105728000,AAPL
3,1980-12-17 00:00:00,0.115513,0.116071,0.115513,0.115513,0.090408,86441600,AAPL
4,1980-12-18 00:00:00,0.118862,0.119420,0.118862,0.118862,0.093029,73449600,AAPL
...,...,...,...,...,...,...,...,...
10338,2021-12-13 00:00:00,181.119995,182.130005,175.529999,175.740005,175.740005,153237000,AAPL
10339,2021-12-14 00:00:00,175.250000,177.740005,172.210007,174.330002,174.330002,139380400,AAPL
10340,2021-12-15 00:00:00,175.110001,179.500000,172.309998,179.300003,179.300003,131063300,AAPL
10341,2021-12-16 00:00:00,179.279999,181.139999,170.750000,172.259995,172.259995,150185800,AAPL
10342,2021-12-17 00:00:00,169.929993,173.470001,169.690002,171.139999,171.139999,195432700,AAPL